body {
    background-color: #EAECEF;
    color: #000000;
}

.testModeMessage {
    background-color: #FBF4E8 !important;
    color: #5C401A;
}

.testModeMessage a {
    color: #5C401A;
}

.testModeMessage i {
    color: #E9A75B;
}

.border-rounded {
    background-color: #FCFCFD;
}

.dropdown-toggle::after {
    color: #FFBB00;
}

.textColor {
    color: #343434;
}

#layout-navbar, .layout-footer {
    background-color: #FFFFFF !important;
}

.buttonColor {
    background-color: #121212;
    border-color: transparent;
}

.buttonColor:hover, .buttonColor:focus {
    background-color: #FFBB00 !important;
    border-color: #FFBB00 !important;
    color: #121212 !important;
}

.card {
    /*border: none;*/
    background-color: transparent;
}

.cardHeader {
    background-color: #F4F5F7 !important;
}

.cardContent {
    background-color: #FFFFFF !important;
}

.card-header, .card-body, .card-footer, .li {
    background-color: #FFFFFF;
}

.borderTop {
    border-top: 1px solid #BFC7D3;
}

.btn-outline-danger {
    color: #121212;
    /*border-color: #FFBB00;*/
}
/*
.btn-outline-danger:hover, .btn-outline-danger:focus {
    background-color: #FFBB00 !important;
    border-color: #FFBB00 !important;
    color: #121212 !important;
}
*/
.breadcrumb {
    background-color: #EAECEF;
}

.breadcrumb-item, .active {
    color: #656565 !important;
}

.introjs-tooltip {
    background-color: #FFFFFF;
    color: #353535;
}

th {
    background-color: #FCFCFD;
    color: #3C3733;
}

th > a, th > a:hover {
    color: #3C3733;
}

.fa-info-circle {
    color: #67A0E8;
}

.empty {
    background-color: #ECF4FB;
    color: #000000;
}

tr {
    border-color: #BFC7D3 !important;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #FFFFFF;
}

.table-striped tbody tr:nth-of-type(2n) {
    background-color: #FCFCFD;
}

input, select, textarea, #country-listbox{
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

.fa-times-square {
    color: #D56A59;
}

.fa-check-square {
    color: #83B173;
}

table {
    color: #000000 !important;
}

svg, .fa-eye {
    color: #FFBB00;
}

.form-control {
    border-color: #BFC7D3 !important;
}

a, a:hover, a:focus {
    color: #BF8C00;
}

.summary {
    color: #656565;
}

.dropdown-menu, .modal-body {
    background-color: #FFFFFF;
}

.dropdown-menu > a, .switcher-label, .logout {
    color: #000000;
}

div.card-body > div.layout-sidenav > ul > li.sidenav-item {
    border: 1px solid #000000;
}

div.card-body > div.layout-sidenav > ul > li.sidenav-item:hover {
    background-color: #FFBB00;
}

div.card-body > div.layout-sidenav > ul > li > a.sidenav-link {
    color: #000000;
}

div.card-body > div.layout-sidenav > ul > li > a.sidenav-link:hover {
    color: #000000;
}
/*
.btn-outline-dark {
    border-color: #FFBB00;
    color: #FFBB00;
}
*/
.btn-outline-dark:hover {
    background-color: #FFBB00;
    color: #000000;
    border-color: #FFBB00;
}

.bootstrap-tagsinput {
    background-color: #FFFFFF !important;
    border-color: #BFC7D3 !important;
}

.badge-warning {
    color: #000000;
}

.poppinsStrong {
    color: #121212;
}

.aNotCss, .aNotCss:hover {
    color: #343a40 !important;
}

.modal-header {
    background-color: #FFFFFF;
}

.redColor {
    color: #D56A59;
}

.greenColor {
    color: #83B173;
}

.backgroundTestModeQuickPayment {
    background-color: #FBF4E8;
    color: #5C401A;
}

.borderTop2 {
    border-top: 1px solid #5C401A;
}

a.btn.float-right {
    color: #FFBB00;
}

.no-activated2 {
    background-color: #EAECEF;
}

.activated2 {
    background-color: #FFBB00;
}

div.card-body > div.row > div.col-md-6 > form > div.form-group > div.iti--allow-dropdown > input {
    background-color: #FFFFFF;
}

.badge-outline-dark {
    background-color: #EAECEF;
    color: #000000;
}

.border-info2 {
    border: 1px solid #17a2b8;
}

.color-link {
    color: #000000 !important;
}

.color-link:hover {
    color: #000000 !important;
}

.ui-icon {
    border-color: transparent !important;
}

#ui-datepicker-div {
    background-color: #FFFFFF;
}

.ui-datepicker-header {
    border: solid 1px #000000;
    background-color: #CCCCCC;
    color: #000000;
}

.black {
    color: #000000 !important;
}

.apexcharts-menu {
    background: #FFFFFF !important;
}

.apexcharts-menu-item:hover {
    background: #CCCCCC !important;
}

.trEmpty {
    background-color: #FFFFFF !important;
    border-top: none !important;

}